p{
    text-align: center;
}
#myparagraph{
    text-align:right;
}
.center-paragraph{
    text-align:center;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
div p{
    background-color: yellow;
}
div > p{
    background-color: aqua;
}
div+p{
    color:brown;
}
div~p{
    background-color: bisque;
}
div~p:hover{
    background-color: yellow;
}
div~p::first-letter{
    color:red;
}
a[target]{
    background-color: aqua;

}